<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include AgilityBook.wxi?>

<Product Id="$(var.PRODUCTID)"
	UpgradeCode="$(var.UPGRADECODE)"
	Name="Agility Record Book $(var.CURRENT_VERSION)"
	Language="1033"
	Version="$(var.CURRENT_VERSION)"
	Manufacturer="dcon Software">
	<Package
		Description="Agility Record Book"
		Comments="!(loc.Comments)"
		InstallerVersion="200"
		Compressed="yes" />

	<WixVariable Id="WixUIDialogBmp" Value="ArbDialogBmp.bmp" />
	<WixVariable Id="WixUIBannerBmp" Value="ArbBannerBmp.bmp" />

	<Icon Id="IconAgilityBook.ico" SourceFile="..\..\..\src\win\res\AgilityBook.ico" />

	<Property Id="ARPCOMMENTS">!(loc.Comments)</Property>
	<Property Id="ARPCONTACT">David Connet</Property>
	<Property Id="ARPHELPLINK">http://www.agilityrecordbook.com</Property>
	<Property Id="ARPURLINFOABOUT">http://www.agilityrecordbook.com</Property>
	<Property Id="ARPPRODUCTICON" Value="IconAgilityBook.ico" />
	<!-- Install to all-users if admin, per-user otherwise -->
	<Property Id="ALLUSERS">2</Property>
	<!-- To pick up all features by default -->
	<Property Id="INSTALLLEVEL">100</Property>
	<Property Id="AppName">Agility Record Book</Property>

	<Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />
	<Property Id="LAUNCHPROGRAM" Value="1" />

	<!-- For success dialog in order to launch program -->
	<Property Id="WixShellExecTarget" Value="[#_AgilityBook.exe]" />

	<!-- Launch Conditions -->
<?if $(sys.BUILDARCH)=x64?>
	<Condition Message="!(loc.On64NT)">VersionNT64</Condition>
<?else?>
	<Condition Message="!(loc.OnNT)">VersionNT</Condition>
<?endif?>

	<!-- During beta, do not remove v1.
	(that's why we created a different upgrade code) -->
<?ifndef var.BETA?>
	<!-- When checked the v1 guid, include ["0.0.0" < ver < "2.0.0"] -->
	<Upgrade Id="$(var.UPGRADECODEv1)">
		<UpgradeVersion
			OnlyDetect="no"
			Minimum="0.0.0"
			IncludeMinimum="no"
			Maximum="2.0.0"
			IncludeMaximum="no"
			Property="OLDVERSIONFOUND_V1" />
	</Upgrade>
<?endif?>
	<!-- For current guid, include ["2.0.0" <= ver < CurVer] -->
	<Upgrade Id="$(var.UPGRADECODEv2)">
		<UpgradeVersion
			OnlyDetect="no"
			Minimum="2.0.0"
			IncludeMinimum="yes"
			Maximum="$(var.CURRENT_VERSION)"
			Property="OLDVERSIONFOUND" />
<?ifdef var.TESTING?>
		<!-- During testing, don't detect existing versions. -->
		<UpgradeVersion
			OnlyDetect="yes"
			Minimum="$(var.CURRENT_VERSION)"
			IncludeMinimum="no"
			Property="NEWERVERSIONDETECTED" />
<?endif?>
	</Upgrade>

	<CustomAction Id="ARB_AlreadyUpdated" Error="!(loc.ARB_AlreadyUpdated)" />
	<CustomAction Id="ARB_NoDowngrade" Error="!(loc.ARB_NoDowngrade)" />
	<CustomAction Id="ARB_LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

	<Media Id="1" Cabinet="AgilityBook.cab" EmbedCab="yes" />

	<Directory Id="TARGETDIR" Name="SourceDir">
		<Directory Id="DesktopFolder" />
		<Directory Id="ProgramMenuFolder">
			<Directory Id="ARBMenuFolder" Name="$(var.DEFFOLDER)" />
		</Directory>
		<Directory Id="$(var.ProgramFilesFolder)">
			<Directory Id="CompanyFolder" Name="dcon Software">
				<Directory Id="APPLICATIONFOLDER" Name="$(var.DEFFOLDER)">
					<Directory Id="dirLang" Name="lang">
						<Directory Id="dirFR" Name="fr_FR" />
						<Directory Id="dirEN" Name="en_US" />
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Directory>

	<DirectoryRef Id="APPLICATIONFOLDER">
		<Component Id="C_AgilityBook.exe" Guid="B48C351B-3E9C-4C66-AC0B-150D26047499" Win64="$(var.Win64)">
			<File Id="_AgilityBook.exe"
				Name="AgilityBook.exe"
				Source="$(var.BASEDIR)\AgilityBook.exe"
				KeyPath="yes"
				Checksum="yes"
				DiskId="1" />
			<!-- The description is the same since that was what MFC set it to (v1) -->
			<ProgId Id="AgilityBook.Document"
				Description="AgilityBook.Document"
				Icon="_AgilityBook.exe">
				<Extension Id="arb">
					<Verb Id="open"
						Command="Open"
						TargetFile="_AgilityBook.exe"
						Argument="&quot;%1&quot;" />
				</Extension>
			</ProgId>
		</Component>

		<Component Id="C_RegistryEntries" Guid="B5864F95-CB30-41B0-81F6-2E672423482C" Win64="$(var.Win64)">
			<!--
			We only create (not remove) since none of the other registry
			entries created by the program are removed. (This is created too,
			just added here to remove an initial language selection dialog)
			-->
			<RegistryKey
				Action="create"
				Root="HKCU"
				Key="Software\[Manufacturer]\[AppName]\Settings">
				<RegistryValue
					Name="Lang3"
					Type="string"
					Value="!(loc.Lang3)" />
			</RegistryKey>
		</Component>

		<Component Id="C_AgilityBook.dat" Guid="C44F2D55-7128-423F-926A-AAE9848D1842" Win64="$(var.Win64)">
			<File Id="_AgilityBook.dat"
				Name="AgilityBook.dat"
				Source="$(var.BASEDIR)\AgilityBook.dat"
				KeyPath="yes"
				DiskId="1" />
		</Component>

		<Component Id="C_ARBHelp.exe" Guid="6E5D1584-06A0-4024-A197-84B9E0326EA1" Win64="$(var.Win64)">
			<File Id="_ARBHelp.exe"
				Name="ARBHelp.exe"
				Source="$(var.BASEDIR)\ARBHelp.exe"
				KeyPath="yes"
				Checksum="yes"
				DiskId="1" />
		</Component>

		<Component Id="C_cal_usdaa.dll" Guid="16F399ED-BA94-4CBF-B85E-D79C737D3232" Win64="$(var.Win64)">
			<File Id="_cal_usdaa.dll"
				Name="cal_usdaa.dll"
				Source="$(var.BASEDIR)\cal_usdaa.dll"
				KeyPath="yes"
				Checksum="yes"
				DiskId="1" />
		</Component>
	</DirectoryRef>

	<DirectoryRef Id="dirFR">
		<Component Id="C_langFR" Guid="581CB1F1-0846-4205-8551-5FEE8A03AF62" Win64="$(var.Win64)">
			<File Id="_fr_arb.mo"
				Name="arb.mo"
				Source="$(var.BASEDIR)\lang\fr_FR\arb.mo"
				KeyPath="yes"
				DiskId="1" />
		</Component>
	</DirectoryRef>

	<DirectoryRef Id="dirEN">
		<Component Id="C_langEN" Guid="27FF13B7-5D71-414B-9BA6-1C6D04DE0BA6" Win64="$(var.Win64)">
			<File Id="_en_arb.mo"
				Name="arb.mo"
				Source="$(var.BASEDIR)\lang\en_US\arb.mo"
				KeyPath="yes"
				DiskId="1" />
		</Component>
	</DirectoryRef>

	<DirectoryRef Id="ARBMenuFolder">
		<Component Id="C_MenuShortcutsARB" Guid="74105C3C-0E12-4CE4-B955-DA4551365A97" Win64="$(var.Win64)">
			<RegistryValue
				Root="HKCU"
				Key="Software\[Manufacturer]\[AppName]\Settings"
				Name="inst_help"
				Type="integer"
				Value="1" />
			<Shortcut Id="ShortcutARBExe"
				Name="$(var.DEFFOLDER)"
				Target="[APPLICATIONFOLDER]AgilityBook.exe">
				<ShortcutProperty Key="System.AppUserModel.PreventPinning" Value="0" />
			</Shortcut>
			<RemoveFolder Id="ARBMenuFolder" On="uninstall" />
		</Component>

		<Component Id="C_MenuShortcutsHelp" Guid="2F642C5F-5C66-40C8-B548-D7794CBF580A" Win64="$(var.Win64)">
			<RegistryValue
				Root="HKCU"
				Key="Software\[Manufacturer]\[AppName]\Settings"
				Name="inst_arb"
				Type="integer"
				Value="1" />
			<Shortcut Id="ShortcutARBHelp"
				Name="ARB Helper"
				Target="[APPLICATIONFOLDER]ARBHelp.exe">
				<ShortcutProperty Key="System.AppUserModel.PreventPinning" Value="1" />
			</Shortcut>
		</Component>
	</DirectoryRef>

	<DirectoryRef Id="DesktopFolder">
		<Component Id="C_DeskShortcuts" Guid="988854A1-81B4-4B57-A51D-5C08BE963E5F" Win64="$(var.Win64)">
			<Condition>INSTALLDESKTOPSHORTCUT</Condition>
			<RegistryValue
				Root="HKCU"
				Key="Software\[Manufacturer]\[AppName]\Settings"
				Name="inst_desk"
				Type="integer"
				Value="1" />
			<Shortcut Id="AppDesktop"
				Name="$(var.DEFFOLDER)"
				Target="[APPLICATIONFOLDER]AgilityBook.exe">
				<ShortcutProperty Key="System.AppUserModel.PreventPinning" Value="0" />
			</Shortcut>
		</Component>
	</DirectoryRef>

	<Feature Id="Complete"
		Display="expand"
		Level="1"
		AllowAdvertise="no"
		Title="Agility Record Book"
		Description="!(loc.FeatureCompleteDesc)"
		ConfigurableDirectory="APPLICATIONFOLDER">
		<ComponentRef Id="C_MenuShortcutsARB" />
		<ComponentRef Id="C_DeskShortcuts" />
		<ComponentRef Id="C_RegistryEntries" />
		<ComponentRef Id="C_AgilityBook.exe" />
		<ComponentRef Id="C_AgilityBook.dat" />
		<ComponentRef Id="C_langEN" />
		<ComponentRef Id="C_langFR" />

		<Feature Id="ARBHelp"
			Display="expand"
			Level="100"
			AllowAdvertise="no"
			Title="!(loc.FeatureArbHelpTitle)"
			Description="!(loc.FeatureArbHelpDesc)">
			<ComponentRef Id="C_ARBHelp.exe" />
			<ComponentRef Id="C_MenuShortcutsHelp" />
		</Feature>

		<Feature Id="Plugins"
			Display="expand"
			Level="100"
			AllowAdvertise="no"
			Title="!(loc.FeatureUSDAATitle)"
			Description="!(loc.FeatureUSDAADesc)">
			<ComponentRef Id="C_cal_usdaa.dll" />
		</Feature>
	</Feature>

	<InstallUISequence>
		<Custom Action="ARB_AlreadyUpdated" After="FindRelatedProducts">FOUNDSAMEVERSION</Custom>
		<Custom Action="ARB_NoDowngrade" After="FindRelatedProducts">NEWERVERSIONDETECTED</Custom>
	</InstallUISequence>

	<InstallExecuteSequence>
		<RemoveExistingProducts After="InstallInitialize" />
		<Custom Action="ARB_AlreadyUpdated" After="FindRelatedProducts">FOUNDSAMEVERSION</Custom>
		<Custom Action="ARB_NoDowngrade" After="FindRelatedProducts">NEWERVERSIONDETECTED</Custom>
		<!--
		START_APP should only be set on the command line during auto-upgrading.
		If set during full UI, it will cause ARB to be launched before the installer is done.
		So, only allow on silent and basic UI.
		-->
		<Custom Action="ARB_LaunchApplication" After="InstallFinalize">START_APP And UILevel&lt;4</Custom>
	</InstallExecuteSequence>

	<UI>
		<!-- Copied from WixUI_FeatureTree.wxs -->
		<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
		<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
		<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

		<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
		<Property Id="WixUI_Mode" Value="FeatureTree" />

		<DialogRef Id="ErrorDlg" />
		<DialogRef Id="FatalError" />
		<DialogRef Id="FilesInUse" />
		<DialogRef Id="MsiRMFilesInUse" />
		<DialogRef Id="PrepareDlg" />
		<DialogRef Id="ProgressDlg" />
		<DialogRef Id="ResumeDlg" />
		<DialogRef Id="UserExit" />

		<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
		<Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
		<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">LicenseAccepted = "1"</Publish>
		<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
		<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
		<Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
		<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
		<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
		<Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">Installed</Publish>
		<Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" Order="2">Not Installed</Publish>
		<Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="1">Installed</Publish>
		<Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="OptionsDlg" Order="2">Not Installed</Publish>
		<Publish Dialog="OptionsDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg">1</Publish>
		<Publish Dialog="OptionsDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
		<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="OptionsDlg" Order="1">Not Installed And WixUI_InstallMode&lt;&gt;"Change"</Publish>
		<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="2">Installed And WixUI_InstallMode="Change"</Publish>
		<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="3">Installed And WixUI_InstallMode&lt;&gt;"Change"</Publish>
		<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

		<UIRef Id="WixUI_Common" />
		<UIRef Id="WixUI_ErrorProgressText" />

		<!-- CustomizeDlg_Title == "[ProductName] Setup" -->
		<Dialog Id="OptionsDlg" Width="370" Height="270" Title="!(loc.CustomizeDlg_Title)" KeepModeless="yes">
			<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
			<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
			<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
			<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="20" Transparent="yes" NoPrefix="yes" Text="!(loc.OptionsDlgDescription)" />
			<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.OptionsDlgTitle)" />
			<Control Id="DesktopShortcut" Type="CheckBox" X="20" Y="60" Width="330" Height="16" Property="INSTALLDESKTOPSHORTCUT" CheckBoxValue="1" Text="!(loc.DesktopShortcutText)" />
			<Control Id="LaunchCheckBox" Type="CheckBox" X="20" Y="90" Width="330" Height="16" Property="LAUNCHPROGRAM" Hidden="yes" CheckBoxValue="1" Text="!(loc.LaunchPgm)">
				<Condition Action="show">Not START_APP And Not Installed</Condition>
			</Control>
			<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
			<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
			<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
				<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
			</Control>
		</Dialog>

		<Publish Dialog="ExitDialog"
			Control="Finish"
			Event="DoAction"
			Value="ARB_LaunchApplication">Not START_APP And LAUNCHPROGRAM And Not Installed</Publish>
	</UI>

</Product>
</Wix>
