*      text=auto

*.clang-format eol=lf
*.doc  binary
*.docx binary
*.dox  text
*.dtd  eol=lf
*.icns binary
*.in   eol=lf
*.po   eol=lf
*.sh   eol=lf
*.svg  eol=lf
*.xml  eol=lf
*.pbxproj eol=lf
*.xcworkspacedata eol=lf

# Avery label files
*.avery binary
*.zdl  binary

# LightScribe files (CD label)
*.lsl  binary

# Sources
*.c    text
*.cpp  text
*.h    text
*.hpp  text

# Don't include stuff which is only used with Git in the archives.
.gitattributes export-ignore
.gitignore     export-ignore
