<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>wxNSApplication</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>AgilityBook.icns</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>103</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2.5</string>
        <key>CFBundleLongVersionString</key>
        <string>3.2.5, (c) 2012-2018 David Connet</string>
	<key>CFBundleGetInfoString</key>
        <string>${PRODUCT_NAME} version 3.2.5, (c) 2012-2018 David Connet</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012-2018 David Connet. All rights reserved.</string>
	<key>LSRequiresCarbon</key>
        <true/>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
</dict>
</plist>
